<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
    <div class="content-wrapper" style="background-color: white;">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
    <style>
        .navbar-background
        {
            background-color: #440000;
            background-image: linear-gradient(
            180deg
            , #8E0E00 10%, #440000 100%);
            background-size: cover;
        }
       
    </style>
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @RenderSection("Scripts", required: false)
</body>
</html>
