@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "History";
}
    <div class="container">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>เลขที่เอกสาร</th>
                        <th>วันที่กรอกแบบฟอร์ม</th>
                        <th>สถานะการตรวจสอบ</th>
                        <th>สถานะการตอบรับจากหัวหน้าภาควิชา</th>
                        <th>สถานะการตอบรับจากคณบดี</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rendering</td>
                        <td>Browser</td>
                        <td>Platform(s)</td>
                        <td>Engine version</td>
                        <td>CSS grade</td>
                    </tr>
                    <tr>
                        <td>Presto</td>
                        <td>Opera 9.5</td>
                        <td>Win 88+ / OSX.3+</td>
                        <td>-</td>
                        <td>A</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>เลขที่เอกสาร</th>
                        <th>วันที่กรอกแบบฟอร์ม</th>
                        <th>สถานะการตรวจสอบ</th>
                        <th>สถานะการตอบรับจากหัวหน้าภาควิชา</th>
                        <th>สถานะการตอบรับจากคณบดี</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
}

@section Scripts
{
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
             "responsive": true, "lengthChange": true, "autoWidth": false,       
              
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script> 


}
